<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page - @react-ssr/express</title>
</head>
<body>
  <p>{{ message }}</p>
  <a href="/">Go to the home page</a>
</body>
</html>
